body{
    background-color: #fff;
    height: 100vh;
    margin: 0 !important;
    overflow: hidden;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
    margin: 0;
    padding: 0;
}
.card {
    background: #fff;
    transition: .5s;
    border: 0;
    border-radius: .55rem;
    position: relative;
    width: 100%;
}
.text-area-input{
    display:flex;
}
.chat-app .people-list {
    width: 350px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 7;
    max-height: 100%;
}
.control-part{
    padding: 10px;
}
.chat-app .chat {
    margin-left: 350px;
    border-left: 1px solid #eaeaea;
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 4px 7px;
    list-style: none;
    display: flex;
    border-radius: 3px;
    border-bottom: 1px solid #afafaf;
}
.people-list .chat-list li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    text-decoration: none;

}
.chat_link{
    font-weight: 500;
    color: #000000;
}
.people-list .chat-list li:hover {
    background: #89ecfb;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #61ff5f
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 35px;
    border-radius: 50%
}
.chat-list .input-group {
    margin: 10px 0px;
}
.admin-group .name{
    margin-right: 5px;
    margin-bottom: 5px;
}
.admin-group .name a{
    font-size: 14px;
    font-weight: 500;
    padding: 3px 7px;
}
.people-list img {
    float: left;
    border-radius: 50%
}
.users-list{
    padding:0px;
    overflow: hidden;
}
#users-list{
    cursor: pointer;
}
.people-list .about {
    padding-left: 8px;
    max-width: 100%;
    width: 100%;
}
.fa{
    vertical-align: top !important;
}
.img-users .status{
    position: absolute;
    top:0px;
    left: 0px;
}
.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #adadad;
    background-color: #e4fbff;
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}
.chat .chat-header .chat-about h6{
    margin: 0px;
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
}

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #cfcfcf;
    height: 80vh;
    overflow-y: scroll;
    box-shadow: inset 0px 0px 16px -8px black;
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 15px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
}
.chat_image{
    max-width: 300px;
    width: 100%;
}
.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 7px 10px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: 7px 4px 10px -6px black;
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #c7f5ff;
    text-align: left;
}

.chat .chat-history .other-message:after {
    border-bottom-color: #c7f5ff;
    left: 93%
}

.chat .chat-message {
    padding: 10px;
    background-color: #deffd9;
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}
.newmessage{
    border-radius: 1px 5px 5px 1px;
    height: 100%;
    width: 40px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: #17a2b8;
    z-index: -1;
}
.float-right {
    float: right
}
.listChats>li{
   position: relative;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}
.select_chat{
    display: none;
}
.chat .chat-history ul .data-list-msg{
    font-weight: 700;
    text-align: center;
    font-size: 21px;
    margin-bottom: 0px;
}
@media only screen and (max-width: 767px) {
    .select_chat{
        display: block;
    }
    .chat-app .people-list {
        width: 100%;
        background: #fff;
        left: -1200px;
        margin-top:40px;
    }
    .chat-app .visible-people-list {
        left: 0px;
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
    }
}
.btn-send{
    width: 40px;
    padding: 0px;

}
.label_upload{
    margin-right: 15px;
    display: block;
    width: 25px;
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
    box-sizing: border-box;
    margin: 0px;
    margin-right: 10px;
    color: #fff;
    background-color: #ffffff;
    border-color: #ced4da;
    border-left: none;
}
.label_upload svg{
    width: 100%;
    height: 100%;
}
.btn-send svg{
    height: 100%;
    width: 100%;
    padding: 5px;
 }

.from_message{
    font-size: 12px;
}
.from_message .date-msg{
    font-size: 10px;
}
.from_message .name-msg{
    font-size: 14px;
}
.delete_chat{
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: inherit;
    border: none;
    padding: 3px;
    margin: 0px;
    font-size: 13px;
    line-height: 6px;
}

.upload_div {
}
input[type="file"] {
}
.form-control:focus,.btn:focus,input:focus, textarea:focus { outline: none; box-shadow: none;}
.text-area-main{
    border-radius: 0px;
    max-width: 600px;
}
.label-text{
    font-size: 14px;
    color: #636363;
}
.chat-app .chat-list {
    overflow-y: auto;
    height: 80vh;
    padding-left: 10px;
}
#end_div_scroll{
    position: absolute;
    bottom: 90px;
    right: 30px;
}
#end_div_scroll .strelka-bottom-1{
    width: 60px;
    height: 60px;
    opacity: 0.5;
}
#end_div_scroll .strelka-bottom-1:hover{
     width: 60px;
     height: 60px;
     opacity: 1;
 }
.pointer-curs{
    cursor:pointer;
}
.new_message{

}
.destroy_chat{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 10px;
    padding: 0px 5px;
}
.position{
    font-size: 12px;
    color: #737373;
}

.arrow-4 {
    position: absolute;
    cursor: pointer;
    width: 33px;
    height: 15px;
    right: 10px;
}
.arrow-4-left {
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 0;
    width: 20px;
    height: 5px;
    display: block;
    transform: rotate(35deg);
    float: right;
    border-radius: 2px;
}
.open_list_member{
    cursor: pointer;
    margin-bottom: 10px;
}
.list_member{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.arrow-4-left:after {
    content: "";
    background-color: #17a2b8;
    width: 20px;
    height: 5px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}

.arrow-4-right {
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 13px;
    width: 20px;
    height: 5px;
    display: block;
    transform: rotate(-35deg);
    float: right;
    border-radius: 2px;
}
.arrow-4-right:after {
    content: "";
    background-color: #17a2b8;
    width: 20px;
    height: 5px;
    display: block;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}
.open .arrow-4-left:after {
    transform-origin: center center;
    transform: rotate(-70deg);
}
.open .arrow-4-right:after {
    transform-origin: center center;
    transform: rotate(70deg);
}

.right-bar{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #fff;
    height: 100vh;
    width: 500px;
    z-index: 100000;
    box-shadow: 1px 1px 30px 1px #000;
    padding: 10px;
}
ul{
    padding: 0px;
    padding-left: 18px;
    list-style-type: auto;
}
.tabs{
    display: flex;
}

.tabs{
    display: flex;
    border-bottom: 2px solid #00819b;
    margin-bottom: 10px;
}
.tabs .tab{
    margin-right: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    padding: 5px 10px;
}

.tabs .tab.active{
    font-weight: 700;
    background-color: #00819b;
    border-radius: 10px 10px 0px 0px;
    color: #fff;
}
.tab-cnt{
    display: none;
}
.tab-cnt.active{
    display: block;
}
.right-bar ul li{
    border-bottom: 1px solid #bbbbbb;
    margin-bottom: 5px;
}
.close-rb{
    position: absolute;
    top: 0px;
    left: -30px;
    width: 25px;
    height: 30px;
    display: block;
    cursor: pointer;
}

.close-rb svg,.close-rb svg path{
    width: 100%;
    height: 100%;
}
.cnt-smile{
    display: flex;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    z-index: 1000;
    top: -98px;
    left: 0px;
    border: 1px solid #000;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 14px;
}
.cnt-smile .smile{
    cursor: pointer;
}
#smile-open{
    background-color: #fff;
    border: 1px solid #ced4da;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    width: 25px;
    padding: 0px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
}
.clear-chat{
    font-size: 14px;
    color: #ff4040;
    font-width: 600;
}






@media only screen and (min-width: 768px) and (max-width: 992px) {

    .chat-app .chat-history {
        max-height: 78vh;
    }

}




@media only screen and (max-width: 768px) {
    .chat .chat-header{
        padding: 5px;
    }
    .chat .chat-message{
        padding: 5px;
    }
    .chat-app .chat-history {
        max-height: 63vh;
        padding: 10px;
    }
    .chat-app .chat-list{
        height:70vh;
    }
    .chat .chat-history ul li{
        margin-bottom: 10px;
    }
}


