body{
    background-color: #f4f7f6;
    height: 100vh;
    margin: 0 !important;
    overflow: hidden;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
    margin: 0;
    padding: 0;
}
.card {
    background: #fff;
    transition: .5s;
    border: 0;
    border-radius: .55rem;
    position: relative;
    width: 100%;
}
.chat-app .people-list {
    width: 350px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7;
    max-height: 100%;
}

.chat-app .chat {
    margin-left: 350px;
    border-left: 1px solid #eaeaea;
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 4px 7px;
    list-style: none;
    display: flex;
    border-radius: 3px;
    border-bottom: 1px solid #afafaf;
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 35px;
    border-radius: 50%
}
.chat-list .input-group{
    margin: 10px 0px;
}
.people-list img {
    float: left;
    border-radius: 50%
}
.users-list{
    padding:0px;
    overflow: hidden;
}
#users-list{
    cursor: pointer;
}
.people-list .about {
    padding-left: 8px;
    max-width: 100%;
}
.fa{
    vertical-align: top !important;
}
.img-users .status{
    position: absolute;
    top:0px;
    left: 0px;
}
.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff;
    height: 80vh;
    overflow-y: scroll;
}

.chat .chat-history ul {
    padding: 0
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
}
.chat_image{
    max-width: 300px;
    width: 100%;
}
.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #444;
    padding: 10px 15px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    padding: 20px;
    background-color: #fff;
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}
.listChats>li{
   position: relative;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}
.select_chat{
    display: none;
}
@media only screen and (max-width: 767px) {
    .select_chat{
        display: block;
    }
    .chat-app .people-list {
        width: 100%;
        background: #fff;
        left: -1200px;
        margin-top:40px;
    }
    .chat-app .visible-people-list {
        left: 0px;
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
    }
}
.btn-send{
    width: 100%;
}
.label_upload{
    position: absolute;
    top:0px;
    right: 0px;
    margin-right: 15px;
}


.from_message{
    font-size: 12px;
}

.delete_chat{
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: inherit;
    border: none;
    padding: 3px;
    margin: 0px;
    font-size: 13px;
    line-height: 6px;
}

.upload_div {
}
input[type="file"] {
}

.chat-app .chat-list {
    overflow-y: scroll;
    height: 82vh;
}
#end_div_scroll{
    position: absolute;
    bottom: 90px;
    right: 30px;
}
#end_div_scroll .strelka-bottom-1{
    width: 60px;
    height: 60px;
    opacity: 0.5;
}
#end_div_scroll .strelka-bottom-1:hover{
     width: 60px;
     height: 60px;
     opacity: 1;
 }
.pointer-curs{
    cursor:pointer;
}
.new_message{
    border-radius: 50%;
    height: 15px;
    width: 15px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.destroy_chat{
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px;
}
.position{
    font-size: 12px;
    color: #737373;
}

.arrow-4 {
    position: absolute;
    cursor: pointer;
    width: 33px;
    height: 15px;
    right: 10px;
}
.arrow-4-left {
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 0;
    width: 20px;
    height: 5px;
    display: block;
    transform: rotate(35deg);
    float: right;
    border-radius: 2px;
}
.arrow-4-left:after {
    content: "";
    background-color: #17a2b8;
    width: 20px;
    height: 5px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}

.arrow-4-right {
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 13px;
    width: 20px;
    height: 5px;
    display: block;
    transform: rotate(-35deg);
    float: right;
    border-radius: 2px;
}
.arrow-4-right:after {
    content: "";
    background-color: #17a2b8;
    width: 20px;
    height: 5px;
    display: block;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}
.open .arrow-4-left:after {
    transform-origin: center center;
    transform: rotate(-70deg);
}
.open .arrow-4-right:after {
    transform-origin: center center;
    transform: rotate(70deg);
}
@media only screen and (min-width: 768px) and (max-width: 992px) {

    .chat-app .chat-history {
        max-height: 78vh;
    }

}

@media only screen and (max-width: 768px) {
    .chat .chat-header{
        padding: 5px;
    }
    .chat .chat-message{
        padding: 5px;
    }
    .chat-app .chat-history {
        max-height: 63vh;
        padding: 10px;
    }
    .chat-app .chat-list{
        height:70vh;
    }
    .chat .chat-history ul li{
        margin-bottom: 10px;
    }
}
